
.bs-sidebar {
    overflow: scroll;
    height: 100%;
}

ul.nav.bs-sidenav li.main {
    background-color: #eee;
    margin-top: 2ex;
    border-top: #ddd 2px solid;
}

ul.nav.bs-sidenav li.active a,
ul.nav.bs-sidenav li.active a:hover
{
    background-color: #fff;
    color: #000;
    font-weight: inherit;
    border-right: 2px solid;
}

div.container h1 { font-size: 200%; }
div.container h2 { font-size: 170%; }
div.container h3 { font-size: 140%; }
div.container h4 { font-size: 110%; }

.navbar {
    background-color: #2a0d45 !important;
    background-image: none;
}

a {
    color: purple;
}

a:hover {
    color: black;
}

ul p {
  margin: 0;
}

ul li {
  margin: 5px 0;
}

ul ul li {
  margin: 0;
}